body{
    background-color: #eeeeee;
    max-width: 500px;
}

img{
    margin-top: 18px;
width: 144px;
height: 87px;
border-radius: 4px ;
}

.container-top{
    max-width: 500px;
    position: fixed;
    width: 100vw;
    height: 92px;
    background: #CF2B2B;
    top: 0;
    left: 0;
}

.container{
    margin-left:19px ;
    margin-top: 123px;
}
.titulo{

    width: 248px;
    height: 44px;
    color:#ffffff ;
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    line-height: 54.63px;
    margin-left: 21px;
}

.subtitulo{
    width: 226px;
    height: 17px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    margin-left: 21px;
    margin-top: 5px;
    color:#ffffff ;
}

.Titulo-post {
    width: 250px;
    height: 25px;
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}

.pratos{
    display: flex;
    gap:16px ;
    margin-bottom:37px ;
    overflow: scroll;
}

.pratos2{
    display: flex;
    gap:16px ;
    margin-bottom:118px ;
    overflow: scroll;
}

.quadro1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 172px;
    height: 216px;
    border-radius: 9px ;
    background-color:#ffffff ;
}

.titulo-pedido{
    margin-top: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    width: 139px;
    height: 23px;
}

.subtitulo-pedido{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    width: 147px;
    height: 39px;
    color: #A6A6A6;
    margin-left: 8px;
}

.Titulo-post2 {
    width: 320px;
    height: 25px;
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 27px;
}

.final{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 92px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
}

.fim{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 80vw;
    height: 61px;
    gap: 0px;
    border-radius: 50px;
    background-color: #cbcbcb;
    color: #ffffff;
}

