body {
  background-color: #eeeeee;
}

img {
  margin-top: 18px;
  width: 144px;
  height: 87px;
  border-radius: 4px;
  object-fit: contain;
}

.container-top {
  max-width: 500px;
  position: fixed;
  width: 100vw;
  height: 92px;
  background: #cf2b2b;
  top: 0;
  left: 0;
}

.container {
  margin-left: 19px;
  margin-top: 123px;
}
.titulo {
  width: 248px;
  height: 44px;
  color: #ffffff;
  font-family: Righteous;
  font-size: 44px;
  font-weight: 400;
  line-height: 54.63px;
  margin-left: 21px;
}

.subtitulo {
  width: 226px;
  height: 17px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  margin-left: 21px;
  margin-top: 5px;
  color: #ffffff;
}

.titulo-post {
  width: fit-content;
  height: 25px;
  font-family: Righteous;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 25px;
}

.almoco, .bebidas, .sobremesas  {
  display: flex;
  gap: 16px;
  margin-bottom: 37px;
  overflow: scroll;
}


.sobremesas {
  margin-bottom: 118px;
}

.quadro-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 172px;
  height: 216px;
  border-radius: 9px;
  background-color: #ffffff;
  border: none;
}

.quadro-1.selected {
  box-shadow: 0px 0px 0px 5px rgba(50, 183, 47, 1) inset;
}

.titulo-pedido {
  margin-top: 11px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  width: 139px;
  height: 23px;
  margin-bottom: 10px;
}

.subtitulo-pedido {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 147px;
  height: 39px;
  color: #a6a6a6;
  margin-left: 8px;
}

.subtitulo-pedido-2 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 147px;
  height: 18px;
  color: #a6a6a6;
  margin-left: 8px;
}

.preco {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  width: 139px;
  height: 23px;
}

.preco-2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  width: 139px;
  height: 23px;
  margin-top: 9px;
}

.titulo-post2 {
  width: 320px;
  height: 25px;
  font-family: Righteous;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 27px;
}

.final {
  max-width: 500px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 92px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}

.btn-footer {
  background-color: #cbcbcb;
  color: #ffffff;
  border: none;
  width: 80vw;
  height: 61px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 50px;
}

.botao-ativo {
  background-color: #32b72f;
}


.fim-de-compra {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(238, 238, 238, 0.8);
  align-items: center;
  justify-content: center;
}

.activeModal{ 
  display: flex;
}

.tela-compra {
  background-color: #4caf50;
  padding: 20px;
  margin-inline: 18px;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.tela-compra h1 {
  font-family: Roboto;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.pedido-itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Roboto;
  color: white;
}

.pedido-itens p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.total-pedido {
  color: white;
  margin-top: 10px;
  font-family: Roboto;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.confirmar {
  font-family: Roboto;
  background-color: white;
  color: #4caf50;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 80%;
  text-align: center;
  text-decoration: none;
}

.cancelar {
  font-family: Roboto;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.018em;
  text-align: center;
}
